body {

}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 5px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    /*max-width: 500px;*/
}

.content-container {
    height: 100vh;
}

.page-header {
    color: lightgrey;
    text-align: center;
}

.tickets-table{
    background-color:white;
}

.top-navbar{
    padding-bottom: 5px;
}

.form-container{
    margin: 0 auto;
}
